name: "CI"
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  configure:
    runs-on: x86_64-linux
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
     - uses: actions/checkout@v4
     - id: set-matrix
       run: echo "matrix=$(om ci gh-matrix --systems=x86_64-linux,x86_64-darwin,aarch64-darwin | jq -c .)" >> $GITHUB_OUTPUT
  nix:
    runs-on: ${{ matrix.system }}
    permissions:
      contents: read
    needs: configure
    strategy:
      matrix: ${{ fromJson(needs.configure.outputs.matrix) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: om ci
        run: |
          om ci \
            --extra-access-tokens "github.com=${{ secrets.GITHUB_TOKEN }}" \
            run \
            --systems "${{ matrix.system }}" \
            .#default.${{ matrix.subflake}}
